.admin-login{
    height: 620px;
    backdrop-filter:blur(10px);
    background-color: rgb(218, 193, 163);
    display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.verify-admin{
    width:fit-content;
    height: fit-content;
    margin-left: 400px;
    text-align: center;
    padding-left: 20px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom:50px;
    line-height: 20px;
    background-color:bisque;
    margin-top: 10px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius:20px;
}
h2 {
    margin-bottom: 50px;
    border-radius: 8px;
}